<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>System </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Visit Auto Service</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">
                    <div class="card-body">

                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Visit Auto Services List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">

                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [formControl]="searchStrFilter">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>

                                            </div>
                                            <div class="add-group">
                                                <a class="btn btn-primary add-pluss ms-2" (click)="addNew()"><img
                                                        src="assets/img/icons/plus.svg" alt=""></a>
                                                <a class="btn btn-primary doctor-refresh ms-2"><img
                                                        src="assets/img/icons/re-fresh.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                  <button class="btn btn-primary" (click)="save()" style=" width: 150px; "> Save </button>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        <div class="staff-search-table">
                            <form>
                                <div class="row">
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table matSort class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="Id">Id</th>
                                        <th mat-sort-header="userNameEn">Visit Type</th>
                                        <th mat-sort-header="userNameAr">Sub Type</th>
                                        <th mat-sort-header="active">Department</th>
                                        <th mat-sort-header="active">Doctor Name</th>
                                        <th mat-sort-header="active">Follow Up Days</th>
                                        <th mat-sort-header="active">Item</th>
                                        <th mat-sort-header="active">Active</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let r of lstData">
                                        <td>{{r.id}}</td>
                                        <td>
                                            <ng-select class="form-control"
                                                [items]="lstInventoryLookupsByKey['VisitTypes']" bindLabel="label"
                                                bindValue="value" [(ngModel)]="r.visitTypeId">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select class="form-control"
                                                [items]="lstInventoryLookupsByKey['visitSubType']" bindLabel="label"
                                                bindValue="value" [(ngModel)]="r.visitSubTypeId">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select class="form-control"
                                                [items]="lstInventoryLookupsByKey['Departments']" bindLabel="label"
                                                bindValue="value" [(ngModel)]="r.departmentId">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select class="form-control"
                                                [items]="lstInventoryLookupsByKey['lstDoctors']" bindLabel="label"
                                                bindValue="value" [(ngModel)]="r.doctorId">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <input class="form-control" type="number" [(ngModel)]="r.followUpDays">
                                        </td>
                                        <td>
                                            <ng-select class="form-control"
                                                [items]="lstInventoryLookupsByKey['Services']" bindLabel="label"
                                                bindValue="value" [(ngModel)]="r.itemId">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <a class="custom-badge status-green" *ngIf="r.isActive">Active</a>
                                            <a class="custom-badge status-pink" *ngIf="!r.isActive">Disabled</a>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#delete_patient"><i
                                                            class="fa fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>