.visit-cu {
    .b-1 {
        display: flex;

        p {
            margin-bottom: 2px !important;
        }

        .pr-2 {
            margin-left: 10px;
            font-weight: 500;
        }
    }

    .local-forms.form-group{
        margin-bottom: 15px;
    }
}