<router-outlet></router-outlet>
<app-toast-container [ngStyle]="{ left: 0, right: 'unset' }" aria-live="polite"
    aria-atomic="true"></app-toast-container>



<!-- ng generate module Payments/PaymentU --route Payments/PaymentU --module app.module -->
<!-- ng generate module Settings/Visits/VisitAutoService --route Settings/Visits/VisitAutoService --module app.module -->
<!-- ng generate module Settings/AddUser --route Settings/AddUser --module app.module -->
<!-- ng generate module Settings/AddDoctors --route Settings/AddDoctors --module app.module -->